<ng-container *ngIf="!showDetails; else details">
  <div class="controls">
    <button type="button" mat-button (click)="handlePreviousClick()">
      Previous
    </button>
    <button type="button" mat-button (click)="handleNextClick()">Next</button>
    <mat-form-field>
      <mat-label>Page size</mat-label>
      <mat-select [formControl]="pageSizeControl">
        <mat-option *ngFor="let size of [5, 10, 25]" [value]="size">{{
          size
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-post
    [post]="post"
    *ngFor="let post of feed?.posts"
    (click)="handlePostClick(post)"
  ></app-post>
</ng-container>
<ng-template #details>
  <app-post-details
    *ngIf="currentPost"
    [content]="currentPost.selftext || 'no data'"
  ></app-post-details>
  <div class="actions">
    <button type="button" mat-button (click)="toggleShowDetails()">Back</button>
  </div>
</ng-template>
